@import url(common.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* maincolor: #ac181e (172, 24, 30)
  subcolor: #32e6c7 (50, 230, 199) */

/* Community */
#community{
  width: 100%;
  background-color: #E8E8E8;
}

.com_btn{
  margin: 53px 10px 93px;
  border: none;
  width: 130px;
  height: 40px;
  background-color: #fff;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}
.com_btn:first-child{
  background-color: #ac181e;
  color: #fff;
}
.com_btn:hover{
  box-shadow: 0 0 14px rgba(0,0,0,0.2);
}

.com_container{
  overflow: hidden;
  position: relative;
  width: 1200px; /* 보여지는 크기 */
  height: 300px;
  margin: auto;
  /* background-color: yellow; */
}

.com_items{ /* 흐르는 영역 */
  position: absolute;
  top: 20px;
  left: 0;
  width: 2220px;
  height: 260px;
  /* border: 1px solid red; */
}
.com_i1{
  position: absolute;
  top: 0;
  left: 0;
  width: 1110px;
  height: 260px;
  z-index: 1;
}
.com_i2{
  position: absolute;
  top: 0;
  left: 1110px;
  height: 260px;
  z-index: 1;
}
.com_i1>ul, .com_i2>ul{display: flex;}
.com_i1>ul>li, .com_i2>ul>li {  /* 배너한개의 크기 */
  margin-right:20px; 
  width:350px; 
  height:260px; 
  border-radius: 26px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.15);
}
.com_i1>ul>li:last-child,
.com_i2>ul>li:last-child{
  margin-right: 0;
}
.com_i1>ul>li:hover,
.com_i2>ul>li:hover{
  box-shadow: 0 0 16px rgba(0,0,0,0.45);
}

.com_p{
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #ccc;
  margin: 0 20px 20px;
  height: 100px;
}
.com_p>a{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(../image/comp-01.png) center center;
}
.com_p li{
  margin-left: 20px;
  margin-top: 5px;
}
.com_p li:first-child{
  font-size: 17px;
  font-weight: 500;
}
.com_p li i{
  font-size: 15px;
  font-style: normal;
  color: #aaa;
}
.com_des li{
  margin: 0 24px 30px;
  transform: translateY(10px);
}
.com_des li strong{
  font-size: 19px;
}
.com_des li strong:hover{
  color: #ac181e;
}
.com_des li:last-child{
  color: #aaa;
}
.com_des li:last-child:hover{
  color: #32E6C7;
}
